{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  labels:
    app.kubernetes.io/name: http-echo
    app.kubernetes.io/instance: {{ .Release.Name }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  rules:
  {{- range .Values.instances }}
  - host: {{ .hostname | default (printf "%s.localhost" .name) }}
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: {{ $.Release.Name }}-{{ .name }}
            port:
              number: {{ $.Values.service.port }}
  {{- end }}
{{- end }}
